<!DOCTYPE html>
<html>
<body>

<div class="container">
<h1>LitHub</h1>
<h2>Upload</h2>
<p>Click on the "Choose File" button to upload a file:</p>

<form  enctype="multipart/form-data" action="/upload-book" method="post">
    
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Enter Title" name="title" id="title" required>

  <label for="price"><b>Price</b></label>
  <input type="number" placeholder="Enter Price in ETH" name="price" id="price" step="any" required>

  <br>
  <br>

  <label for="key"><b>Key</b></label>
  <input type="textarea" placeholder="Enter eluv.io private key" name="key" id="key" required>

  <br>
  <br>
  <input type="file" id="myFile" name="filename">
  <input type="submit">

</form>
</div>

</body>
</html>

<style>
  body {
    background-color: dimgray;
    color: white;
  }
  
  #wrap {
    width: 60%;
    margin: auto;
    background: dimgray;
    overflow: hidden;
    padding: 15px;
    border: 0ch;
    
  }
  .page_wrap
  {
      border: 1px solid black;
      width: 250px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
  }
  body
  {
      text-align: center; /* required by some browsers */
  }
  
  </style>
  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 
</script>